.NavBtnsCont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  background-color: transparent;
  width: 100%;
}
.NavBtns {
  color: rgb(19, 181, 235);
  background-color: #ffffff22;
  border: 5px solid rgb(9, 174, 229);
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  height: 60px;
  width: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.pageNo {
  color: wheat;
  font-size: 30px;
  font-weight: bold;
  margin: 0px;
}
