.MovieLi {
  border: 1.5px solid #37383b;
  background-color: black;
  border-radius: 5px;
  margin: 10px;
}

.MovieImg {
  height: 160px;
  width: 100%;
  margin: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.TitleVoteCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 7px;
}

.Title {
  color: white;
  font-size: 12px;
  margin: 0px;
}

.VoteCont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.VoteImg {
  height: 13px;
  width: 13px;
  margin: 0px;
  margin-right: 3px;
  align-self: flex-start;
}

.Vote {
  color: white;
  font-size: 13px;
  margin: 0px;
}

.ViewBtn {
  color: white;
  background-color: #ffffff15;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  border: 0px;
  height: 40px;
  width: 100%;
  text-align: center;
  box-shadow: 0.5px 2px 10px 3px #37383b inset;
}

.ViewBtnLink {
  text-decoration: none;
  color: white;
}

@media (min-width: 992px) {
  .Section {
    margin: 20px;
  }

  .Head {
    font-size: 35px;
  }

  .MovieImg {
    height: 200px;
    width: 100%;
  }

  .MovieLi {
    margin: 15px;
  }

  .TitleVoteCont {
    padding: 15px;
  }

  .Title {
    font-size: 13px;
  }

  .ViewBtn {
    height: 50px;
    font-size: 18px;
  }

  .VoteImg {
    height: 17px;
    width: 17px;
  }

  .Vote {
    font-size: 17px;
  }
}
