.loader-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Popular */

.TopRatedBg {
  min-height: 100vh;
  padding: 10px;
  background-color: black;
}

.TopRatedHead {
  color: white;
  font-size: 45px;
  text-align: center;
  text-decoration: underline navy;
  margin: 0px;
}

.TopRatedUl {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0px;
}

.PopularBg {
  min-height: 100vh;
  background-color: black;
}

.Section {
  margin: 10px;
  padding-left: 20px;
}

.Head {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: underline lightblue dashed;
}

.HeadP {
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: underline lightblue dashed;
}

.MoviesUl {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow-x: scroll;
  padding: 0px;
  margin: 0px;
  min-height: 150px;
}

.MoviesUlP {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: scroll;
  padding: 0px;
  margin: 0px;
  min-height: 150px;
}

